<h1>G-man, this is code from views/welcome/index.html.erb</h1>
<h2>welcome_controller.rb has:</h2>
<h3>"class WelcomeController < ApplicationController
  
def index
end

end"</h3>
<h2> written in it to provide this view.</h2>